name: Build (CLI)
on: workflow_dispatch

jobs:
  build-linux:
    name: Build
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Install zip
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y zip
      - name: Build
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: cli.py
          mode: onefile
          disable-cache: true
      - name: Rename (bash)
        if: ${{ matrix.os != 'windows-latest' }}
        run: mv build/cli.bin build/zen-explorer
      - name: Rename (PowerShell)
        if: ${{ matrix.os == 'windows-latest' }}
        run: Rename-Item -Path build/cli.exe -NewName build/zen-explorer.exe
      - name: Upload package (bash)
        uses: actions/upload-artifact@v4
        if: ${{ matrix.os != 'windows-latest' }}
        with:
          name: zen-explorer-${{ matrix.os }}
          path: build/zen-explorer
      - name: Upload package (PowerShell)
        uses: actions/upload-artifact@v4
        if: ${{ matrix.os == 'windows-latest' }}
        with:
          name: zen-explorer-${{ matrix.os }}
          path: build/zen-explorer.exe
